.title {
  text-align: center;
  color: green;
  font-size: 36px;
}

.centered_text {
  text-align: center;
  font-size: 20px;
}

.centered_button {
  border-radius: 10px;
  margin: auto;
  width: 50%;
  /* background-color: #d1fff5; */
}

.title_div {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  border-radius: 20px;
}

.body_div {
  margin: auto;
  width: 50%;
}

.nav_button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #42f4bc;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
}

.log_button {
  float: right;
  margin-right: 10px;
  /* padding: 20px; */
}

.home_button {
  margin-left: 10px;
}
