<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
      <script type="text/javascript" src="/static/KaTeX-0.10.0/dist/katex.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/KaTeX-0.10.0/dist/katex.css">
      <link rel="stylesheet" type="text/css" href="/static/base.css">
      <title>Infintea - CalHacks5.0</title>
    </head>
    <div class="title_div">
      <h class = "title">
        CalHacks 5.0 - InfinTea<br/>
      </h>
      <h class = "title">
        Proudly presented to you by InfinTeam!
      </h>
    </div>
    <div>
      <div class="home_button">
        <a href="{{ url_for('home') }}" class = "nav_button" id="home_button">Home</a>
      </div>
        {% if logged_in %}
          <div class="log_button">
            <a href="{{ url_for('logout') }}" class = "nav_button" id="log_button1">Logout</a>
          </div>
        {% else %}
          <div class="log_button">
            <a href="{{ url_for('login') }}" class = "nav_button" id="log_button2">Login</a>
          </div>
        {% endif %}
    </div>
    {% if logged_in %}
    <div class="body_div">
      <p class="centered_text">
        {% if not q_status %}
          Welcome, {{ username }}! Please pick a category below.
          {% for category in categories %}
            <form action = "/category?category={{ category }}" method = "post" class="centered_button">
              <button class="centered_button">
                {{ category }}
              </button>
            </form>
          {% endfor %}
        {% endif %}
      </p>
    </div>
    {% endif %}
    <body>
      {% block content %}{% endblock %}
    </body>
    <!-- <p><span id="mykatex1">...</span></p>
    <script>
      katex.render("f(a,b,c) = (a^2+b^2+c^2)^3", mykatex1);
    </script> -->
</html>
