<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
      <script type="text/javascript" src="/static/KaTeX-0.10.0/dist/katex.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/KaTeX-0.10.0/dist/katex.css">
      <link rel="stylesheet" type="text/css" href="/static/base.css">
      <title>{{ title }} - CalHacks5.0</title>
    </head>
    <h class = "modal_heading">
      CalHacks 5.0 - QuikMaths 5.0
    </h>
    <div>
        <a href="{{ url_for('home') }}" class = "modal_heading_2">Home</a>
        {% if logged_in %}
          <a href="{{ url_for('logout') }}" class = "modal_heading_2">Logout</a>
        {% else %}
          <a href="{{ url_for('login') }}" class = "modal_heading_2">Login</a>
        {% endif %}
    </div>
    {% if logged_in %}
      <p>
        Welcome, {{ username }}!
        {% for category in categories %}
          <form action = "/category?category={{ category }}" method = "post">
            <button>
              {{ category }}
            </button>
          </form>
        {% endfor %}
      </p>
    {% endif %}
    <body>
      {% block content %}{% endblock %}
    </body>
    <!-- <p><span id="mykatex1">...</span></p>
    <script>
      katex.render("f(a,b,c) = (a^2+b^2+c^2)^3", mykatex1);
    </script> -->
</html>
