{% extends "base.html" %}

{% block content %}
    <h1>Create Account</h1>
    {% if fail %}
      <p>
        Error: That username is already taken!
      </p>
    {% endif %}
    <form action="/create" id="submitForm" method="get">
      Username: <input class="dataform" type="text" name="name" required="required"><br>
      Password: <input class="dataform" type="text" name="pass" required="required"><br>
      <input type="submit" id="submitButton" value="Submit" onClick="createAccount()">
    </form>
{% endblock %}
